$link-color: #000000;
$link-color-hover: rgba($link-color, 0.6);
$link-color-active: rgba($link-color, 0.3);
$text-color: #444444;
$text-main-color: #444444;
$text-head-color: #000000;
$btn-color: #444444;
$block-border: #ececec;
$legend-color: #63d1bb;
$radio-border: #444444;
$radio-hover: #62d1ba;
$radio-click: rgba($radio-border, 0.3);
$checkbox-border: $radio-border;
$checkbox-hover: $radio-hover;
$checkbox-click: $radio-click;
$input-field-border: #000000;
$input-field-border-hover: $radio-hover;
$nav-interior-bg: #63d1bb;
$nav-interior-bg-hover: #59d5bc;
$nav-toys-bg: #56c3b2;
$nav-toys-bg-hover: #46c1ae;
$modal-radio-active: #63d1bb;
