.modal-basket {
  visibility: hidden;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 320px;
  min-height: 337px;
  transform: translate(-50%, -50%);
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(#000000, 0.25);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  background: #ffffff;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.modal-basket__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.modal-basket__title {
  width: 150px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 13px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: $text-head-color;
}

.modal-basket__description {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.modal-basket__input {
  display: none;
}

.modal-basket__switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-basket__label {
  box-sizing: border-box;
  display: block;
  flex: auto;
  height: 52px;
  padding-top: 17px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba($radio-border, 0.1);
  background: #ffffff;
  transition: all 0.3s;

  &:nth-of-type(2) {
    margin: 0 7px;
  }

  &:hover {
    border-color: rgba($radio-border, 0.3);
  }
}

.modal-basket__input:first-of-type:checked + .modal-basket__label--size-s {
  border-color: $modal-radio-active;
}

.modal-basket__input:nth-of-type(2):checked + .modal-basket__label--size-m {
  border-color: $modal-radio-active;
}

.modal-basket__input:last-of-type:checked + .modal-basket__label--size-l {
  border-color: $modal-radio-active;
}

.modal-basket__add {
  display: block;
  width: 100%;
  height: 52px;
  margin-top: 31px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #63d1bb;
  background: #63d1bb;
  transition: color 0.5s, background 0.5s;
  
  &:hover {
    background: #ffffff;
    color: $text-main-color;
  }

  &:focus {
    outline: none;
  }
}

@media #{$tablet-width} {
  .modal-basket {
    width: 568px;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
  }

  .modal-basket__wrapper {
    padding: 0 108px;
  }

  .modal-basket__title {
    width: auto;
    font-size: 30px;
    line-height: 57px;
  }

  .modal-basket__description {
    font-size: 17px;
  }
}
