.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(#ffffff, 0.9);

  &--show {
    display: block;
    animation: overlay-show 0.3s linear;
  }
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
