.catalog-nav {
  @media #{$tablet-width} {
    padding: 0 6.5%;
  }

  @media #{$desktop-width} {
    padding: 0 4.34%;
  }
}

.catalog-nav__items {
  @include ul-reset();
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-nav__item {
  width: 320px;
  flex: 1 1 100%;
  min-height: 108px;
  transition: all 0.3s;

  &--interior {
    background: $nav-interior-bg;
    transform: translateY(10px);

    &:hover {
      background: $nav-interior-bg-hover;
      transform: translateY(5px);
    }

    &:active {
      background: $nav-interior-bg-hover;
    }
  }

  &--toys {
    background: $nav-toys-bg;
    transform: translateY(5px);

    &:hover {
      background: $nav-toys-bg-hover;
      transform: translateY(0px);
    }

    &:active {
      background: $nav-toys-bg-hover;
    }
  }
}

.catalog-nav__link {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 28px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &--interior {

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 37px;
      transform: translateY(-50%);
      width: 41px;
      height: 63px;
      opacity: 0.5;
      transition: all 0.3s;
      background: url("../img/icon-interior.svg") no-repeat 50%% 50%;
    }

    &:hover::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--toys {

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 28px;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      opacity: 0.5;
      transition: all 0.3s;
      background: url("../img/icon-toy.svg") no-repeat 50%% 50%;
    }

    &:hover::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

@media #{$tablet-width} {
  .catalog-nav__item {
    width: 320px;
    flex: auto;
    transform: translateY(5px);

    &:hover {
      transform: translateY(0);
    }
  }

  .catalog-nav__link {
    padding: 28px 36px 35px;
    font-size: 20px;
    line-height: 30px;
    
    &--toys::after {
      right: 35px;
    }
  }
}
