.catalog {
  margin-top: 30px;
  transition: all 0.3s;

  @media #{$tablet-width} {
    margin-top: 66px;
  }

  @media #{$desktop-width} {
    margin-top: 110px;
  }
}

.catalog__wrapper {
  @include container();
}

.catalog__items {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$tablet-width} {
    align-items: stretch;
  }

  @media #{$desktop-width} {
    flex-direction: row;

    &::after {
      content: "";
      flex: 0 1 316px;
    }
  }
}
