.page-header {
  min-width: 100%;
  position: relative;
  box-sizing: border-box;
  min-height: 80px;
  border-bottom: 1px solid $block-border;
  border-top: 1px solid $block-border;
}

.page-header__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.page-header__note {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: $text-main-color;
}

@media #{$tablet-width} {
  .page-header {
    border-bottom: none;
    min-height: 89px;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 88px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $block-border;
    }
  }

  .page-header__wrapper {
    padding: 0 6.5%;
  }

  .page-header__note {
    position: absolute;
    z-index: 5;
    top: 89px;
    right: 0;
    box-sizing: border-box;
    display: block;
    padding-top: 18px;
    padding-right: 6.5%;
    flex: 1 0 50%;
    text-align: right;
    background: transparent;
  }
}

@media #{$desktop-width} {
  .page-header__wrapper {
    padding: 0 4.34%;
  }

  .page-header__note {
    padding-right: 4.34%;
  }
}
