.page-footer {
  background: #f1f1f1;
  transition: margin-top 0.3s;
}

.page-footer__wrapper {
  @include container();
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 260px;
  padding-top: 24px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
}

.page-footer__copyright-text {
  margin-right: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $text-head-color;
  transition: color 0.3s;
}

.page-footer__copyright-link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.page-footer__copyright-link:hover .page-footer__copyright-text {
  color: rgba($link-color, 0.6);
}

.page-footer__copyright-link:active .page-footer__copyright-text {
  color: rgba($link-color, 0.3);
}

.page-footer__copyright-link svg {
  fill: $svg-fill-color-light;
  transition: all 0.3s;
}

.page-footer__copyright-link:hover svg {
  fill: $svg-fill-color-dark;
}

.page-footer__copyright-link:active svg {
  fill: $svg-fill-color-dark;
  fill-opacity: 0.3;
}

@media #{$tablet-width} {
  .page-footer__wrapper {
    flex-flow: row wrap;
    padding-top: 51px;
    padding-bottom: 58px;
    max-width: none;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    margin-right: 80px;
  }

  .page-footer__logo svg {
    width: 102px;
    height: 34px;
  }

  .page-footer__logo-link svg {
    transition: fill 0.3s, fill-opacity 0.3s;
  }

  .page-footer__logo-link:hover svg {
    fill: $svg-fill-color-dark;
  }

  .page-footer__logo-link:active svg {
    fill: $svg-fill-color-dark;
    fill-opacity: 0.3;
  }

  .page-footer__social {
    padding: 0;
    border: none;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__copyright-link svg {
    margin-top: 5px;
  }
}

@media #{$desktop-width} {
  .page-footer {
    margin-top: 105px;
  }
}
