.page-footer {
  margin-top: 39px;
  background: #f1f1f1;
  &__wrapper {
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }
  &__social {
    padding-top: 24px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e5e5;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
  }
  &__copyright-text {
    margin-right: 24px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
  }
  &__copyright-link {
    display: block;
    width: 34px;
    height: 34px;
    font-size: 0;
    background: url("../img/htmlacademy.svg") no-repeat 50% 50%;
    background-size: cover;
  }
}
