.page-content {
  position: relative;
  z-index: -5;
}

.page-content__title {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 78px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $text-head-color;
  background: #f1f1f1;
  transition: font-size 0.3s;

  @media #{$tablet-width} {
    font-size: 43px;
    line-height: 50px;
    margin-top: -42px;
    padding-top: 115px;
  }

  @media #{$desktop-width} {
    font-size: 53px;
    line-height: 57px;
  }
}
