.products-item {
  margin-bottom: 35px;
  padding-bottom: 42px;
  background: url("../img/zigzag-line-desktop.png") repeat-x 50% 100%;
  background-size: 16px 6px;
}

.products-item__wrapper {
  @include container();
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}

.products-item__header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.products-item__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 7px;
  font-size: 25px;
  font-weight: 700;
  color: $text-head-color;
}

.products-item__date {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $legend-color;
}

.products-item__description {
  margin: 23px 0 19px;
  font-size: 15px;
  line-height: 24px;
}

.products-item__photo {
  margin-bottom: 25px;
  background: #444444;
}

.products-item__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.products-item__price {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.products-item__features {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
  border-collapse: collapse;
}

.products-item__features-row {
  border-bottom: 1px solid $block-border;
}

.products-item__property-name {
  padding: 10px 0;
  padding-right: 10px;
}

.products-item__property-value {
  padding: 10px 0;
  padding-left: 8px;
}

.products-item__buy {
  width: 100%;
  margin-top: 24px;
}

@media #{$tablet-width} {
  .products-item {
    padding-bottom: 69px;
    background-size: 37.5px 15px;
  }

  .products-item__wrapper {
    position: relative;
  }

  .products-item__header {
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .products-item__title {
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .products-item__date {
    width: 80px;
    text-align: center;
  }

  .products-item__content {
    position: relative;
  }

  .products-item__description {
    width: 291px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 38px;
  }

  .products-item__features {
    width: 291px;
    margin-bottom: 55px;
  }

  .products-item__photo {
    position: absolute;
    top: 6px;
    right: 0;
    width: 100%;
    max-width: 333px;
    height: 404px;
    margin-bottom: 0;
    background: #444444;
  }

  .products-item__price {
    width: 292px;
    font-size: 20px;
  }

  .products-item__buy {
    width: 292px;
    margin-top: 30px;
  }
}

@media #{$desktop-width} {
  .products-item {
    margin-top: 70px;
    padding-right: 4.34%;
    padding-left: 4.34%;
    padding-bottom: 96px;
    background-size: 58px 23px;
  }

  .products-item__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 0;
    width: 100%;
    max-width: 1050px;
  }

  .products-item__header {
    position: relative;
    z-index: 2;
  }

  .products-item__title {
    font-size: 53px;
    line-height: 57px;
  }

  .products-item__date {
    position: absolute;
    bottom: 50%;
    left: -125px;
    transform: translateY(50%);
  }

  .products-item__description {
    width: 291px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .products-item__features {
    width: 291px;
    margin-bottom: 107px;
  }

  .products-item__photo {
    top: -166px;
    max-width: 525px;
    height: auto;
  }

  .products-item__buy {
    margin-top: 32px;
  }
}
